In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
# Query column names for measurement table
measurement_attributes = pd.read_sql_query("select * from measurement limit 5;", engine)
measurement_attributes

   id      station        date  prcp  tobs
0   1  USC00519397  2010-01-01  0.08  65.0
1   2  USC00519397  2010-01-02  0.00  63.0
2   3  USC00519397  2010-01-03  0.00  74.0
3   4  USC00519397  2010-01-04  0.00  76.0
4   5  USC00519397  2010-01-06   NaN  73.0

## D1: Determine the Summary Statistics for June

In [41]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

1700

In [42]:
#  3. Convert the June temperatures to a list.
june_temps = results

In [43]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_data = pd.DataFrame(june_temps)

In [44]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_data.describe()

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [45]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [46]:
# 7. Convert the December temperatures to a list.
dec_temps = results

In [47]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_data = pd.DataFrame(dec_temps)

In [48]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_data.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000